__pycache__
src/__pycache__
poetry.lock
example_docs/*
qdrant_storage/*

models/tinyllama-1.1b-chat-v0.3.Q4_K_M.gguf
note.md
#src/test.py
.DS_Store

# ignore development environment
.env

# ignore models
model/*
models/*